body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    line-height: 26px;
    font-size: 16px;

}

a {
    text-decoration: none;
}
h1 {
   font-size: 80px;
   font-weight: 600;
   color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700; 
    text-transform: uppercase;
    color: #6e7ea9;
}

.btn-free {
    color: #fff;

    background-color: #1085e4;
}

.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 700;
}

.grid h2 span {
    display: block;
    color: #1085e4;
    font-size: 14px;
    text-transform: uppercase;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
}

.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600px; 
}